@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');
@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");
}

$background-secondary: #111219;
$text-menu-item-active: #000000;
$gradient: linear-gradient(90deg, #92fe9d 0%, #00c9ff 100%);

.ant-layout {
  font-family: "Poppins" !important;

  .ant-layout-sider {
    background: $background-secondary;
    border-right: 1px solid #323232;

    .logo-container {
      padding: 2rem;
      display: flex;
      justify-content: space-around;
    }

    .ant-menu {
      font-family: inherit;
      background: $background-secondary;
    }

    .ant-menu-item-selected {
      background: $gradient;
      color: $text-menu-item-active;
      font-size: 16px;
      font-weight: 700;
    }

    .ant-menu-item:not(.ant-menu-item-selected):active {
      background: transparent;
    }
  }
}

*::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: $background-secondary;
  }
  
  *::-webkit-scrollbar-thumb {
    background: $gradient;
    border-radius: 20px;
    border: 3px solid $background-secondary;
  }